@import "./style/layout/lowernavbar";
@import "./style/layout/navbar";
@import "./style/variable/variable";
@import "./style/fonts/font";
@import "./style/layout/pizza";
@import "./style/button/button";
@import "./style/layout/readmore";
@import "./style/layout/cart";
@import "./style/layout/signup";
@import "./style/layout/header";
@import "./style/layout/footer.scss";
@import "./style/layout/purchase";
@import "./style/layout/error";
* {
  box-sizing: border-box;
}
body {
  background-image: url("./assets/img/background2.jpg");
  background-repeat: no-repeat;
  background-color: #cccccc;
  background-position: center;
  background-size: cover;

  background-color: whitesmoke;
  font-family: $main-font;
  color: gray;
}
/* Large Desktop and Laptop Screens (devices and browsers) */
// @media only screen and (min-width: 1824px) {}

// /* Tablet Devices, Desktop and Laptop Screens */
// @media only screen and (max-width: 768px) {}
