@import "./style/layout/lowernavbar";
@import "./style/layout/navbar";
@import "./style/variable/variable";
@import "./style/fonts/font";
@import "./style/layout/pizza";
@import "./style/button/button";
body {
  background-color: black;
  font-family: $main-font;
  color: $main-color;
}
