@import "./style/layout/lowernavbar";
@import "./style/layout/navbar";
@import "./style/variable/variable";
@import "./style/fonts/font";
body {
  background-color: black;
  font-family: $main-font;
  color: $main-color;
}
