.cart {
  .cart_container {
    display: flex;
    margin-top: 10px;
    margin: 5px;
    img {
      margin-top: 2px;
      border-radius: 5px;
      margin-bottom: 2px;

      width: 100%;
      height: auto;
    }
    p {
      margin-left: 5px;
      font-size: 3vw;
    }
    .minus {
      margin-left: 10px;
      margin-top: 10px;
      margin-bottom: 3px;
      width: 10px;
      height: 30px;
    }
    .plus {
      margin-left: 10px;

      margin-top: 10px;
      margin-bottom: 3px;
      width: 10px;
      height: 30px;
    }
    .remove {
      margin-left: 20px;
      margin-top: 10px;
      margin-bottom: 3px;
      width: 100px;
      height: 30px;
    }
    .price {
      margin-right: 5px;
      font-size: 3vw;
    }
    .cart_button {
      display: flex;
    }
  }
}
.cartTotal {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  p {
    font-size: 20px;
  }
}
