@import "../variable/variable";
@import "../button/button";
.header {
  display: flex;
  justify-content: space-evenly;
  .header__user {
    font-size: 4vw;
  }
  .btn-more {
    @include button-more($lowernav-color, $main-color);
    margin: 0.5rem;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    .header__user {
      font-size: 4vw;
      margin-left: 3rem;
    }
    .btn-more {
      
      @include button-more($lowernav-color, $main-color);
      margin-left: 2rem;
      width: 200px;
      height: 70px;
      font-size: 30px;
    }
  }
}
