@import "../button/button";
.pizzas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0.5rem;
  .pizzaList {
    border-radius: 4px;
    border: 1px double gray;

    margin: 0.5rem;
    img {
      margin: 10px;
      width: 300px;
      height: 200px;
    }
    .pizzaList__size {
      margin-left: 10px;
      padding: 8px 8px;
      width: 300px;
      .opt {
        font-size: 15px;
      }
    }
    .pizzaList__name {
      margin-left: 10px;
      display: flex;
      justify-content: space-evenly;
      margin-top: 10px;
      p {
        margin-right: 4px;
      }
      .btn-more {
        @include button-more($base-color, $main-color);
      }
    }
    .pizzaList__add {
      display: flex;
      justify-content: space-evenly;
      margin-top: 5px;
      margin-bottom: 5px;
      .btn-more {
        @include button-more($lowernav-color, $main-color);
        @include margin-left(4px);
        font-size: large;
      }
    }
  }
}
